/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== HEADER & NAV ===============*/
.header{
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__shop,
.nav__close{
    color: var(--title-color);
}

.nav__logo{
    text-transform: uppercase;
    font-weight: var(--font-bold);
    letter-spacing: 1xp;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav__logo-icon{
    font-size: 1.25rem;
}

.nav_btns{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav__toggle,
.nav__shop{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .3;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    transition: .3s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    font-size: 2rem;
    position: absolute;
    top: 9rem;
    right: 1.25rem;
    cursor: pointer;
}

/*=============== HOME ===============*/
.home__container{
    position: relative;
    row-gap: 2.5rem;
}

.home__img{
    width: 240px;
}

.home__img-bg{
    background-color: var(--first-color);
    width: 258px;
    height: 430px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    transform: translateX(1.5rem);
}

.home__social{
    position: absolute;
    top: 35%;
    left: -5rem;
    transform: rotate(-90deg);
    display: flex;
    column-gap: 1rem;
}

.home__social-link{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: .3s;
}

.home__social-link:hover{
    color: var(--title-color);
}

.home__title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1);
}

.home__description{
    margin-bottom: var(--mb-1-5);
}

.home__price{
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}
